*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.image-slider img{
  height: 100vh;
  width: 100%;
}

.image-slider{
  position: relative;
}

.text-content-slider{
  position: absolute;
  bottom: 171px;
  left: 50px;
  color: #FFFFFF;
  font-size: 36px;
}

.overlay-title{
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.5;
  display: block;
  width: 100%;
  height: 171px;
}

.content-overlay{
  position: absolute;
  bottom: 15px;
  left: 50px;
}

.content-overlay p{
  color: white;
  max-width: 882px;
  font-size: 20px;
  margin-bottom: 5px;
}

.button-action-slide{
  border-radius: 50%;
  background: white;
  border: none;
  width: 45px;
  height: 45px;
}

.button-action-slide i{
  color: #0507F6;
  font-size: 20px;
}

.intro-keyword img{
  width: 100%;
  height: 100vh;
}


.tab-information{
  padding: 30px 0;
  margin-bottom: 50px;
}

.nav-tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-left p{
  color: #093A5E;
  font-size: 26px;
}

.items-right{
  display: flex;
}

.items-right div{
  margin-left: 10px;
}

.items-right button{
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 20px;
  background: white;

}

.btn.action{
  background: #003A63;
  color: white;
}

.information-tab{
  display: flex;
  margin-top: 15px;
}

.left-information-tab{
  width: 20%;
}

.left-information-tab button{
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 10px 0;
  border-bottom: 1px solid #BBBBBB;
  padding-left: 15px;
}

.tab-active{
  background: white;
  color: #093A5E;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right-information-tab{
  padding-left: 15px;
}

.flex-blog-post{
  display: flex;
  flex-wrap: wrap;
}

.box-blog-post{
  width: 25%;
  padding: 0 10px;
}

.box-blog-post img{
  width: 100%;
  margin-bottom: 10px;
}

.title-blog-post{
  font-size: 20px;
  margin-bottom: 0px;
  color: #093A5E;
  font-weight: bolder;
}

.post-except{
  font-size: 15px;
  color: #777777;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.right-information-tab{
  width: 80%;
}

.title-row{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.left-title-row{
  width: 40%;
  border-right: 5px solid #DCA800;
}

.right-title-row{
  width: 60%;
}

.left-title-row p{
  font-size: 40px;
  font-weight: bolder;
  color: #003A63;
  margin-bottom: 0px;
}

.right-title-row p{
  font-size: 19px;
  margin-bottom: 0;
  padding-left: 30px;
}

.row-icon-element{
  display: flex;
}

.icon p{
  text-align: center;
}

.icon-box{
  width: 33.3333%;
  padding: 0 20px;
}

.icon-box:nth-child(2){
  border-left: 2px solid #DCA800;
  border-right: 2px solid #DCA800;
}

.icon p:nth-child(2){
  font-size: 40px;
  color: #003A63;
  font-weight: bolder;
}

.row-blog-post{
  display: flex;
}

.img-post{
  width: 30%;
}

.img-post img{
  width: 100%;
}

.content-post{
  width: 70%;
  padding-left: 15px;
}

.title-content-post{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.except-content-post{
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
}

.view-more{
  display: flex;
  justify-content: center;
}

.view-more button{
  background: #0F52A9;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.award-section{
  margin-bottom: 100px;
}

.left-title-member-row{
  width: 60%;
  padding-right: 30px;
}

.left-title-member-row p{
  margin-bottom: 0;
  font-size: 19px;
  text-align: right;
}

.right-title-member-row{
  width: 40%;
  border-left: 5px solid #DCA800;
  padding-left: 30px;
}

.right-title-member-row p{
  font-size: 40px;
  color: #003A63;
  font-weight: bolder;
  margin-bottom: 0;
}

.member-main-infor{
  background: #003A63;
  padding: 50px 0;
  margin-bottom: 50px;
}

.row-member{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-6-member{
  width: 50%;
  color: white;
}

.img-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-member{
  font-size: 28px;
  font-weight: bold;
  color: #DDDDDD;
  margin-bottom: 0;
}

.name-member{
  font-size: 24px;
}

.intro-text-member{
  font-size: 18px;
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 30px;
}

.nav-member ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-member ul li{
  margin: 0 10px;
}

.categories-wrap {
    position: relative;
}

.heading-categories {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 225px;
    text-align: center;
    color: #F8F8F8;
}

.subHeading-categories {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 79px;
    text-align: center;
    color: #189FFF;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.flex-news-post{
  display: flex;
}

.col-6-left, .col-6-right{
  width: 50%;
}

.box-news{
  position: relative;
  padding: 0 10px;
}

.content-box-news{
  position: absolute;
  bottom: 10px;
  color: white;
}

.content-box-news p{
  font-size: 22px;
  font-weight: bold;
  padding-left: 30px;
  width: 90%;
  margin-bottom: 10px;
}

.view-more-news{
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.view-more-news button{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: none;
  color: white;
  border: 1px solid white;
  margin-right: 15px;
}

.view-more-news span{
  font-size: 15px;
}

.row-for-news{
  display: flex;
  flex-wrap: wrap;
}

.box-news img{
  width: 100%;
}

.box-news img{
  height: 464px;
}

.col-6-right .box-news img{
  height: 222px;
}

.col-6-right .box-news{
  margin-bottom: 20px;
}

.col-6-right .content-box-news p{
  width: 100%;
}

.row-event{
  display: flex;
  flex-wrap: wrap;
}

.box-event {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
}

.img-event img{
  width: 100%;
}

.time-event{
  background: #2F2424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 195px;
  left: 20px;
}

.month{
  font-size: 15px;
  margin-bottom: 0;
}

.date{
  font-size: 22px;
  margin-bottom: 0;
}

.content-event{
  margin-top: 45px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.categories-event{
  color: #3F51B5;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0;
}

.name-event{
  font-size: 17px;
}

.col-event{
  padding: 0 10px;
  width: 25%;
}

.event-infor{
  margin-bottom: 50px;
}

/* css for academic page */
.banner-page{
  background: url('../img/campus-banner.webp');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  padding: 150px 0;
}

.banner-page:after{
  background: hsla(0,0%,5%,.6);
  bottom: 0;
  content: "";
  height: 100vh;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.content-banner{
  color: white;
  position: relative;
  z-index: 2;
}

.left-content-banner p{
  margin-bottom: 0;
  font-size: 84px;
  font-style: normal;
  font-weight: 400;
}

.right-content-banner{
  display: flex;
  justify-content: right;
  width: 100%;
}

.right-content-banner p{
  font-size: 36px;
  width: 50%;
}

.row-post-vertical{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.col-post-vertical{
  width: 50%;
}

.col-post-vertical img{
  width: 614px;
  height: 460px;
}

.title-post-vertical{
  font-size: 48px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
}

.except-post-vertical{
  font-size: 18px;
}

.view-more-btn button{
  background: none;
  border: none;
}

.view-more-btn .icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #656f77;
  border-radius: 50%;
  background-color: #656f77;
  color: white;
}

.view-more-btn span{
  margin-left: 15px;
}

.right-txt{
  text-align: right;
}

.box-content-vertical{
  padding-right: 10%;
}

/* css for admission page */


.content-overlay h1{
  font-size: 3.875rem;
    line-height: 1.06452;
    color: white;
}

.admission-page .title-text{
  font-size: 1.5rem;
    line-height: 1.58333;
}

.admission-page .overlay-title{
  height: 330px !important;
}

.mrg-bot-70{
  margin-bottom: 70px;
}

.sub_nav_list {
    border-top: 1px solid #F0F2F3;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.sub_nav_item {
    border-bottom: 1px solid #F0F2F3;
}

.sub_nav_link {
    display: block;
    padding: 15px 0;
}


.sub_nav_link_label {
    font-weight: 400;
    color: #4E3629;
    font-size: 18px;
    letter-spacing: 0.0125rem;
}

.content_block{
  margin-bottom: 30px;
}

.content_block_inner{
  padding: 0 11.25%;
}

.typography{
  font-weight: lighter;
  font-size: 1.125rem;
  line-height: 1.77778;
}

.flex-wrapper{
  display: flex;
  justify-content: space-between;
}


.sidebar-left-sticky{
  width: 20%;
  margin-right: 7%;
}

.content-page-admission{
  width: 75%;
  border-left: 1px solid #F0F2F3;

}

.component_block{
  position: relative;
    padding: 1em;
    margin: 40px 60px;
    border-top: 4px solid #ffc72c;
    border-bottom: 4px solid #ffc72c;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.stat_simple h4 {
    font-weight: 700;
    font-size: 2.25em;
    margin: 1em 0 0.15em;
}

.stat_simple p {
    font-size: 1.1em;
    color: #5b5b5b;
    margin: 0 0 1em;
}

.image-block{
  position: relative;
  margin: 40px 60px;
}

.image-block img{
  width: 100%;
}

.image-block p{
  position: absolute;
  background: black;
  bottom: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 12px 20px 11px;
  font-size: 0.875rem;
  line-height: 1.85714;

}

.component_body {
    padding: 25px 0px 24px 0px;
    border-top: 1px solid #F0F2F3;
    margin-right: 60px;
    margin-left: 60px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 259px;
}

.peak_details_caption{
  font-weight: lighter;
}

.sub_nav_link:hover span, .component_body:hover{
  color: red !important;
}

.img-ads{
  margin-top: 30px;

}

.img-ads img{
  width: 100% !important;
}
